.hero{
    text-align: center;
    display: flex;
    align-items: flex-start;
    align-content: center;
    padding: 7px 9px;
    border: 1px solid;
}

.first-img{
    width: 70%;
}

.sec-img{
    width: 30%;
    height: 300px;
    background-color: black;
}

.val-sec{
    color: #000;
    text-align: center;
    display: flex;
    border: 1px solid;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
    margin: 30px 65px;
}

.foc-band{
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.foc-short{
    color: #666;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
}

.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px 0px;
}



/* Footer section */

.footer-top {
    background-color: #4f4fb7;
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.footer-div h4 {
    padding-bottom: 10px;
}

section.footer-bottom {
    text-align: center;
    background-color: #2e1f8b;
    color: #fff;
    padding: 5px 0px;
}